solver/LKH-restart/SRC/OBJ
solver/LKH-restart/paramfile
solver/LKH-restart/LKH
data/*
ml/selector
ml/classifier
ml/__pycache__
.vscode
solver/GA-EAX/bin
solver/GA-EAX-restart/bin
solver/examples
solver/LKH/SRC/OBJ
solver/LKH/paramfile
solver/LKH/LKH
feature_compute
solver/MAOS-TSP/myprojects