solver/LKH-restart/SRC/OBJ
solver/LKH-restart/paramfile
data/*
ml/selector
ml/classifier
ml/__pycache__
.vscode
solver/GA-EAX/bin
solver/GA-EAX-restart/bin
solver/examples
solver/LKH/SRC/OBJ
solver/LKH/paramfile
